# Dependency & Build Directories
node_modules/
dist/
dist-server/
dist-eb/
out/
.next/
.nuxt/
.svelte-kit/
build/
bin/
obj/
/ios
/android

# Tooling Cache
.nx/cache
.nx/workspace-data
.nx/installation
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
*.tsbuildinfo
.expo/
web-build/

# Testing
coverage/
.nyc_output/
*.lcov

# Other
CHANGELOG.md
pnpm-lock.yaml
package-lock.json
yarn.lock